* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Alegreya Sans SC", sans-serif;
}

body {
  /* background-color: #868686; */
  background-color: #424242;
  overflow: hidden;
}

.page-container {
  height: 100vh;
  width: 100%;
  background-color: #424242;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

.keys {
  height: 100%;
  width: 50%;
  border-radius: 20px;
  background-color: #868686;
  padding: 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  -webkit-box-shadow: inset 1px 1px 5px #000;
  box-shadow: inset 1px 1px 5px #000;
}

.key {
  -webkit-transition: all 0.01s ease;
  -o-transition: all 0.01s ease;
  transition: all 0.01s ease;
  cursor: pointer;
  -webkit-box-shadow: inset 1px 1px 5px #000;
  box-shadow: inset 1px 1px 5px #000;
}

.key-hide {
  display: none;
}

.text-container {
  height: 100%;
  width: 50%;
}

.key-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.key-container .key {
  background-color: #707070;
  height: 150px;
  width: 170px;
  border-radius: 10px;
  margin: 10px;
}

.key-container .key .sound,
.bass-hh-container .key .sound,
.hh-container .key .sound {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #868686;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0 5px;
}

.bass-hh-container,
.hh-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hh-container {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bass-hh-container div[data-key="66"] {
  background-color: #707070;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  font-size: 2em;
}

.hh-container .key {
  background-color: #707070;
  height: 120px;
  width: 120px;
  margin: 10px;
  border-radius: 10px;
  font-size: 0.75em;
}

.playing {
  background-color: #fdffe6 !important;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(253, 255, 230, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(253, 255, 230, 0.5);
}

.key:hover .sound {
  color: #fdffe6;
}

.playing .sound,
.key.playing:hover .sound {
  color: #707070;
}

.playing .sound:focus,
.key .sound:focus {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playing .sound::-moz-selection,
.key .sound::-moz-selection {
  background: transparent;
}

.playing .sound::selection,
.key .sound::selection {
  background: transparent;
}

.playing .sound::-moz-selection,
.key .sound::-moz-selection {
  background: transparent;
}

/* ==> text container  */

/* --> header  */

.header-text-container {
  position: relative;
  top: -20px;
  background-color: #868686;
  border-radius: 0 0 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  width: 35%;
  height: 10vh;
  margin: auto;

  -webkit-box-shadow: inset 1px 1px 5px #000;
  box-shadow: inset 1px 1px 5px #000;
}

.header-text-container img {
  width: 90%;
}

.header-text-container a {
  margin: 0 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-text-container a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.img-help-text-container {
  position: absolute;
  top: 50%;
  right: 0;
  width: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  padding: 0 0 0 10px;
}

.img-help-text-container .img-help-translate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  -webkit-transform: translateX(80%);
  -ms-transform: translateX(80%);
  transform: translateX(80%);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.img-help-text-container.active .img-help-translate-container {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#helpImg {
  width: 20%;

  background-color: #868686;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: inset 1px 1px 5px #000;
  box-shadow: inset 1px 1px 5px #000;
}
#helpImg:hover {
  -webkit-box-shadow: inset 1px 1px 5px #000,
    0px 10px 5px 5px rgba(134, 134, 134, 0.5);
  box-shadow: inset 1px 1px 5px #000, 0px 0px 10px 5px rgba(134, 134, 134, 0.5);
}

.img-help-text-container .img-help-translate-container .help-text-container {
  background-color: #868686;
  padding: 40px;
  border-radius: 40px 0 0 40px;
  -webkit-box-shadow: inset 1px 1px 5px #000;
  box-shadow: inset 1px 1px 5px #000;
}

.help-text-container h1 {
  letter-spacing: 0.2em;
  color: #424242;
}

.help-text-container hr {
  border-color: #707070;
  margin: 10px 0;
}

.help-text-container div {
  line-height: 1.5em;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  font-weight: lighter;
  padding: 10px;
  color: #424242;
}

.help-text-container div strong {
  background-color: #424242;
  color: #fdffe6;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bolder;
}

.help-text-container a {
  /* text-decoration: none; */
  color: #424242;
  font-family: "Source Sans Pro", sans-serif;
}

.youpress-text-container {
  padding: 20px;
}

.youpress-text-container,
.youpress-text-container p {
  font-family: "Source Sans Pro", sans-serif;
}

.youpress-text-container p {
  color: #fdffe6;
  letter-spacing: 0.15em;
}

.details-youpress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}

.details-youpress-container h1 {
  color: yellow;
  font-size: 6em;
  letter-spacing: 0.2em;
  line-height: 0.9em;
  word-break: break-all;
}

.details-youpress-container h4 {
  color: #fdffe6;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
}

.details-youpress-container h6 {
  color: #fdffe6;
  font-size: 1.6em;
  font-weight: lighter;
}

.message-details-youpress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-youpress-container img {
  width: 50px;
  margin: 10px;
}
.message-details-youpress h4 {
  margin: 10px;
  font-size: 1.5em;
}

.image-details-youpress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 1050px) {
  .help-text-container h1 {
    font-size: 1.2em;
  }

  .help-text-container div {
    font-size: 1.1em;
  }

  .header-text-container {
    width: 40%;
  }
}

@media only screen and (max-width: 1024px) {
  .key-container .key {
    margin: 5px;
  }

  .hh-container .key {
    height: 100px;
    width: 100px;
    margin: 5px;
  }
}

@media only screen and (max-width: 960px) {
  .help-text-container div {
    line-height: 2em;
    padding: 0;
  }
}

@media only screen and (max-width: 926px) {
  .bass-hh-container div[data-key="66"] {
    height: 180px;
    width: 180px;
  }

  .hh-container .key {
    height: 90px;
    width: 90px;
  }

  .header-text-container {
    width: 50%;
  }

  .img-help-text-container .img-help-translate-container .help-text-container {
    padding: 30px;
  }
}

@media only screen and (max-width: 840px) {
  .bass-hh-container div[data-key="66"] {
    height: 150px;
    width: 150px;
  }

  .help-text-container hr {
    margin: 5px 0;
  }

  .img-help-text-container {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .bass-hh-container,
  .hh-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hh-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 10px;
  }

  .img-help-text-container {
    width: 45%;
  }
}

@media only screen and (max-width: 700px) {
  .key-container .key,
  .hh-container .key {
    margin: 1px;
  }
}

@media only screen and (max-width: 650px) {
  .page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .keys,
  .text-container {
    width: 100%;
  }

  .key-container .key,
  .hh-container .key {
    margin: 10px;
  }

  .bass-hh-container,
  .hh-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .bass-hh-container {
    margin-top: 15px;
  }

  .bass-hh-container div[data-key="66"] {
    height: 200px;
    width: 200px;
  }

  .hh-container .key {
    height: 120px;
    width: 120px;
  }

  .header-text-container {
    top: 5px;
    border-radius: 50px;
    height: 8vh;
    padding: 10px 10px 0;
  }

  .header-text-container img {
    width: 70%;
  }

  .img-help-text-container {
    display: none;
  }

  .youpress-text-container {
    display: none;
  }

  body {
    overflow: auto;
  }
}

@media only screen and (max-width: 570px) {
  .hh-container .key {
    height: 100px;
    width: 100px;
  }

  .key-container .key,
  .hh-container .key {
    margin: 5px;
  }

  .hh-container .key {
    height: 90px;
    width: 90px;
  }

  .bass-hh-container div[data-key="66"] {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (max-width: 500px) {
  .header-text-container img {
    width: 90%;
  }
}

/* not finished media query */
@media only screen and (max-width: 460px) {
  .bass-hh-container div[data-key="66"] {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 425px) {
  .bass-hh-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .key-container .key .sound,
  .bass-hh-container .key .sound,
  .hh-container .key .sound {
    font-size: 0.65em;
  }
}

@media only screen and (max-width: 410px) {
  .key-container .key,
  .hh-container .key {
    height: 100px;
  }
}

@media only screen and (max-width: 390px) {
  .key-container .key,
  .hh-container .key {
    height: 100px;
  }
}
